$border__radius: 0;
$box__shadow: none;
$box__shadow_mobile: none;

$size__site-main: 100%;
$size__site-sidebar: 25%;

$button__indents: 15px 19px;
$button__border-radius: 0;
$button__border: none;
$button__box-shadow: none;

$embed__ratio: 62.33%;  //  thumbnail height / thumbnail width