.site-header.centered {

	.header-container {
		padding-top: 19px;
		padding-bottom: 16px;
	}

	.site-header-cart {
		margin-top: 4px;
		margin-bottom: 0;
		margin-left: 0;

		+ .site-branding .site-logo {
			margin-left: 61px;
		}
	}
	.site-branding {
		text-align: center;
	}

	.social-list {
		padding: 14px 0;
	}

	.main-navigation {
		text-align: center;
		padding: 12px 0 0 0;

		ul.menu {
			> li {
				margin: 0 0 10px;

				+ li {
					margin-left: 31px;
					margin-right: 0;
				}
			}
			ul {
				a {
					padding: 12px 18px 13px;
				}
			}
			> li:hover > ul, > li > ul {
				margin-top: 26px;
			}
		}
	}

	.header-container_wrap {
		@include flexbox;
		@include justify-content(space-between);
		@include flex-direction(row);
		@include flex-wrap(wrap);
		@include align-content(flex-end);
		@include align-items(flex-start);

		.social-list {
			float: none;

			text-align: left;
			margin-right: 0;
			margin-left: 0;
			@include flex(0 1 25%);
			@include align-self(auto);
		}

		.site-branding {
			float: none;

			text-align: center;
			margin-right: 0;
			margin-left: 0;
			@include flex(0 1 100%);
			@include align-self(auto);
		}

		.site-header-cart {
			float: none;

			text-align: right;
			margin-right: 0;
			margin-left: 0;
			@include flex(0 1 25%);
			@include align-self(auto);
		}

		.main-navigation {
			text-align: center;
			@include flex(0 1 100%);
			@include align-self(auto);
		}

		@media (min-width: 768px) {
			.site-branding {
				@include flex(0 1 49%);
			}
		}
	}

	@media (max-width: 767px) {
		.site-header-cart + .site-branding .site-logo {
			margin-left: 0;
		}
	}
}