.site-header.default {
	.header-container {
		text-align: center;
		padding-top: 19px;
		padding-bottom: 13px;
	}

	.main-navigation {
		width: auto;
		clear: none;
		padding: 7px 0 0;
		vertical-align: top;
		text-align: left;

		ul.menu {
			margin-left: -15.5px;

			> li {
				margin: 0 15.5px 10px;
			}
		}
	}
	.site-branding {
		margin: 0;
		display: inline-block;
		text-align: left;
	}

	.social-list {
		padding: 14px 0;

		.social-list__items {
			li.menu-item {
				a {
					&:hover {
						background: none;
					}
				}
			}
		}
	}

	.site-header-cart {
		padding-top: 5px;
		margin: 0 0 0 46px;

		li {
			padding-left: 0;

			&:before {
				display: none;
			}
		}
	}

	.header-container_wrap {
		@include flexbox;
		@include justify-content(space-between);
		@include flex-direction(row);
		@include flex-wrap(wrap);
		@include align-content(flex-end);
		@include align-items(flex-start);

		.social-list {
			text-align: left;
			margin-right: 0;
			margin-left: 0;
			@include flex(0 1 25%);
			@include align-self(auto);
		}

		.site-branding {
			text-align: center;
			margin-right: 0;
			margin-left: 0;
			@include flex(0 1 100%);
			@include align-self(auto);
		}

		.site-header-cart {
			text-align: right;
			margin-right: 0;
			margin-left: 0;
			@include flex(0 1 25%);
			@include align-self(auto);
		}

		.main-navigation {
			text-align: center;
			@include flex(0 1 100%);
			@include align-self(auto);
		}

		@media (min-width: 768px) {
			.site-branding {
				@include flex(0 1 49%);
			}
		}

		@media (min-width: 1200px) {
			.social-list {
				@include order(2);
				@include flex(0 1 16%);
				text-align: right;
			}

			.site-branding {
				@include order(-1);
				@include flex(0 1 26%);
				text-align: left;
			}

			.site-header-cart {
				@include order(3);
				@include flex(0 1 9%);
				text-align: right;
				margin: 0;
			}

			.main-navigation {
				@include order(1);
				@include flex(0 1 47%);
				text-align: center;
			}
		}
	}

	@media (max-width: 1199px) {
		.site-header-cart {
			padding-top: 1px;
			margin: 0 0 0 30px;
		}

		.social-list {
			text-align: right;
			float: none;
			padding: 15px 0 4px;
		}
	}

	@media (min-width: 992px) and (max-width: 1199px) {
		.main-navigation {
			margin-left: 10px;
		}
	}

	@media (max-width: 991px) {
		.site-branding {
			float: none;
		}
		.social-list {
			text-align: center;
			padding: 11px 0 0;
		}
	}

	@media (min-width: 768px) and (max-width: 991px) {
		.site-branding {
			display: block;
			text-align: center;
		}
		.main-navigation {
			margin-left: -15.5px;
		}
		.site-header-cart {
			margin-left: 0;
		}
		.header-container {
			padding-bottom: 16px;
		}
	}

	@media (max-width: 767px) {
		.header-container {
			padding-bottom: 14px;
		}
	}
}