.alignleft {
	float: left;
	margin: 0;
	margin-right: 30px;
	margin-bottom: 15px;
}

.alignright {
	float: right;
	margin: 0;
	margin-left: 30px;
	margin-bottom: 15px;
}

.aligncenter {
	clear: both;
	@include center-block;
	margin-bottom: 22px;
}

@media (max-width: 1199px) {
	.position-one-right-sidebar, .position-one-left-sidebar, .position-two-sidebars {
		p.alignleft, p.alignright {
			float: none;
			margin-left: 0;
			margin-right: 0;

			> img {
				&.alignleft, &.alignright {
					margin: 0;
					float: none;
				}
			}

			+ p {
				padding-left: 0 !important;
			}
		}
	}
}

@media (max-width: 767px) {
	p.alignleft, p.alignright {
		float: none;
		margin-left: 0;
		margin-right: 0;

		> img {
			&.alignleft, &.alignright {
				margin: 0;
				float: none;
			}
		}

		+ p {
			padding-left: 0 !important;
		}
	}
}