.share-btns {
	&__list {
		.posts-list & {
			float: left;
			margin-top: 23px;

			//@include media-breakpoint-up(lg) {
			//	margin-top: 35px;
			//}
		}

		&:before {
			.posts-list & {
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				display: block;
				content: '';
				height: 1px;
				background-color: transparent;
				pointer-events: none;
			}
		}

		.single-post & {
			margin-top: 23px;
			float: left;
		}
	}

	&__item {
		display: inline-block;
		vertical-align: top;
	}

	&__item + &__item {
		margin-left: 22px;
	}

	&__link {
		display: block;
		width: auto;
		height: auto;
		@include font-size(1);
		line-height: inherit;
		text-decoration: none;
		text-align: center;
		border-radius: 50%;
		opacity: 1;

		&:hover {
			opacity: 1;
		}
	}
}

body #page .share-btns__list{
	@media (max-width: 479px) {
		float: none;
		display: block;
		margin-top: 10px;
		margin-bottom: 25px;
	}
}